<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProjectFourBis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 -->
<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAo6PzRAoZk4B0bjhRAuf-w75EPha5Y9N4">
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</head>

<body>








<!-- <nav id="offcanvas" class="navmenu navmenu-inverse navmenu-fixed-right navmenu-site offcanvas" role="navigation">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Portfolio</a></li>
    </ul>
</nav>  -->



<!--  <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p> -->
<%# unless flash.blank? %>
  <%# flash.each do |type, message| %>
   <!--  <div class="alert <%#= bootstrap_class_for(type) %> fade in">
      <button class="close" data-dismiss="alert">×</button> -->
      <%#= message %>
   <!--  </div> -->
  <%#end %>
<%# end %>

<%= yield %>

</body>
</html>

