<!DOCTYPE html>
<html>
<head>
  <title>ProjectFourBis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src="//maps.googleapis.com/maps/api/js"></script>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>




</head>
<body>

<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
 <%= link_to 'Login', new_user_session_path %>
<% end %>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
